.circle {
  /* BEGIN (write your solution here) */

  /* END */

  width: 300px;
  height: 300px;

  border-radius: 50%;
}

.circle-blue {
  /* BEGIN (write your solution here) */

  /* END */
}

.circle-red {
  /* BEGIN (write your solution here) */

  /* END */
}